---
layout: default
---

<header class="c-hero">
  <div class="c-hero__links"><a href="#philosophy">Our Philosophy</a> <a href="#about">About This Project</a></div>
  <div class="l-wrapper">
    <h1>Accessibility Guidelines</h1>
    <p>Making work accessible creates a better experience across the board. Use this checklist to help build accessibility into your process no matter your role or stage in a project.</p>
  </div>
</header>

<div class="c-header">
  <div class="l-wrapper">
    <h1>The Checklist</h1>
    <p><strong>Check</strong> the boxes of the guidelines that apply to your project<br>
    <strong>Preview and copy</strong> the checklist to your clipboard<br>
    <strong>Paste</strong> the checklist into a document, Slack, Trello—or however else your team organizes projects</p>
  </div>
</div>

<nav class="c-nav c-nav--sticky">
  <ul class="c-nav__items">
    <li class="c-nav__item"><a data-nav="designers" href="#designers">Designers</a></li>
    <li class="c-nav__item"><a data-nav="engineers" href="#engineers">Engineers</a></li>
    <li class="c-nav__item"><a data-nav="pm" href="#pm">Project Managers</a></li>
    <li class="c-nav__item"><a data-nav="qa" href="#qa">QA</a></li>
    <li class="c-nav__item"><a data-nav="editorial" href="#editorial">Editorial</a></li>
  </ul>
</nav>

<section class="l-wrapper c-guidelines">
  {% include designer.html %}

  {% include engineers.html %}

  {% include pm.html %}

  {% include qa.html %}

  {% include editorial.html %}

  {% include tools.html %}

  {% include output.html %}
</section>

<div class="c-header">
  <div class="l-wrapper">
    <h1 id="philosophy">Our Philosophy</h1>
   
  </div>
</div>

<section class="l-wrapper">
  <div class="l-segment">
    {% for post in site.categories.why %}
      {{ post.content }}
    {% endfor %}
  </div>
</section>

<div class="c-header">
  <div class="l-wrapper">
    <h1 id="about">About This Project</h1>
    <p></p>
  </div>
</div>

<section class="l-wrapper">
  <div class="l-segment">
    {% for post in site.categories.process %}
      {{ post.content }}
    {% endfor %}
  </div>
</section>

<script type="text/javascript">
  {% include_relative js/clipboard.min.js %}
  {% include_relative js/global-helpers.js %}
  {% include_relative js/scrollHandling.js %}
  {% include_relative js/navbar.js %}
  {% include_relative js/list-builder.js %}
</script>
